.events-container {
  text-align: center;
  border: 1px solid rgb(157, 122, 255);
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

.events-list {
  margin-top: 2rem;
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.events-list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgb(157, 122, 255);
}